[run]
omit =
    */migrations/*
    */tests/*
    */venv/*
    */.venv/*
    */manage.py
    */config/settings*.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    def __repr__
    def __str__
    raise NotImplementedError
