# Requerimientos principales
Django>=4.2.0,<4.3.0

# API y autenticación
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.2.2
django-filter>=23.2
django-cors-headers>=4.1.0
drf-yasg>=1.21.5

# Base de datos
psycopg2-binary>=2.9.6

# HTTPS y SSL
django-sslserver>=0.22

# Utilidades
python-dotenv>=1.0.0
Pillow>=10.0.0  # Para el manejo de imágenes
pyyaml>=6.0.1
requests>=2.31.0
python-dateutil>=2.8.2

# Pruebas
pytest>=7.3.1
pytest-django>=4.5.2
pytest-cov>=4.1.0
coverage>=7.2.7
